<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- HDB-POET configuration file -->
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="HdbPoet.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
  </configSections>
  <appSettings>
    <add key="AGEN_ID_NAME" value="Bureau of Reclamation"/>
    <add key="SourceLegend" value="source data/not computed or manually edited/no overwrite flag set:PaleGreen,source data/not computed or manually edited/overwrite flag set:DarkSeaGreen,computed data from computation processor/not an aggregation from one interval to another:Yellow,computed data from computation processor/is an aggregation from one interval to another:Gold,computed data from computation processor/overwrite flag set:Goldenrod,RiverWare computed data/no overwrite flag set:PaleGoldenrod,RiverWare computed data/overwrite flag set:DarkKhaki,manually edited data/no overwrite flag set:SkyBlue,manually edited data/overwrite flag set:RoyalBlue,RiverWare manually edited data/no overwrite flag set:Aquamarine,RiverWare manually edited data/overwrite flag set:DarkTurquoise,missing data/not yet inserted:LightGray,Validation Failed!!! - Data outside of acceptable parameters:Red,RBase data not available - computations and undo unavailable:DarkOrange"/>
    <add key="ValidationLegend" value="null validation:Wheat,Validated:Green,Provisional:DeepSkyBlue"/>
    <add key="QaQcLegend" value="CUTMIN:SkyBlue:Minimum Cutoff Violation,EXMIN:PowderBlue:Expected Minimum Violation,EXMAX:LightPink:Expected Maximum Violation,CUTMAX:LightCoral:Maximum Cutoff Violation,ROC:Red:Data Rate Of Change Violation,RPT:Gold:Repeating Data Violation,MISSING:Cyan:Missing Data"/>
    <add key="objectTypes" value="7,9,4,2,8,11,5,1,10,12,13,318,301"/>
    <add key="instantIntervals" value="5,10,15,30,60"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="lcUser"   value="" 	/>
    <add key="lcPass"   value="" 		/>
    <add key="ucUser"   value="" 	/>
    <add key="ucPass"   value="" 		/>
    <add key="yaoUser"  value="" 	/>
    <add key="yaoPass"  value="" 		/>
    <add key="ecoUser"  value="" 	/>
    <add key="ecoPass"  value="" 		/>
    <add key="admUser"  value="" 		/>
    <add key="admPass"  value="" 		/>
  </appSettings>
  <system.diagnostics>
    <switches>
      <!--  
Logging Level can be one of the following
 0   None
 1   Errors
 2   Errors and Warnings
 3   Errors, Warnings, and Info
 4   Verbose, Errors, Warnings, Info
-->
      <add name="LoggingLevel" value="0"/>
    </switches>
  </system.diagnostics>
  <userSettings>
    <HdbPoet.Properties.Settings>
      <setting name="SelectedHdbHost" serializeAs="String">
        <value />
      </setting>
      <setting name="OracleUsername" serializeAs="String">
        <value />
      </setting>
      <setting name="SelectedObjectTypes" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>reservoir</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="SelectedIntervals" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>day</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="SeriesColors" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>Red</string>
            <string>Green</string>
            <string>Blue</string>
            <string>Black</string>
            <string>Orange</string>
            <string>Aquamarine</string>
            <string>Beige</string>
            <string>DarkGreen</string>
            <string>Purple</string>
            <string>Aqua</string>
            <string>Bisque</string>
            <string>BlanchedAlmond</string>
            <string>BlueViolet</string>
            <string>Brown</string>
            <string>BurlyWood</string>
            <string>CadetBlue</string>
            <string>Chartreuse</string>
            <string>Chocolate</string>
            <string>Coral</string>
            <string>CornflowerBlue</string>
            <string>Cornsilk</string>
            <string>Crimson</string>
            <string>Cyan</string>
            <string>DarkBlue</string>
            <string>DarkCyan</string>
            <string>DarkGoldenrod</string>
            <string>DarkGray</string>
            <string>DarkKhaki</string>
            <string>DarkMagenta</string>
            <string>AntiqueWhite</string>
            <string>DarkOliveGreen</string>
            <string>DarkOrange</string>
            <string>DarkOrchid</string>
            <string>DarkRed</string>
            <string>DarkSalmon</string>
            <string>DarkSeaGreen</string>
            <string>DarkSlateBlue</string>
            <string>DarkSlateGray</string>
            <string>DarkTurquoise</string>
            <string>DarkViolet</string>
            <string>DeepPink</string>
            <string>DeepSkyBlue</string>
            <string>DimGray</string>
            <string>DodgerBlue</string>
            <string>Firebrick</string>
            <string>FloralWhite</string>
            <string>ForestGreen</string>
            <string>Fuchsia</string>
            <string>Gainsboro</string>
            <string>GhostWhite</string>
            <string>Gold</string>
            <string>Goldenrod</string>
            <string>Gray</string>
            <string>Green</string>
            <string>GreenYellow</string>
            <string>Honeydew</string>
            <string>HotPink</string>
            <string>IndianRed</string>
            <string>Indigo</string>
            <string>Ivory</string>
            <string>Khaki</string>
            <string>Lavender</string>
            <string>LavenderBlush</string>
            <string>LawnGreen</string>
            <string>LemonChiffon</string>
            <string>LightBlue</string>
            <string>LightCoral</string>
            <string>LightCyan</string>
            <string>LightGoldenrodYellow</string>
            <string>LightGray</string>
            <string>LightGreen</string>
            <string>LightPink</string>
            <string>LightSalmon</string>
            <string>LightSeaGreen</string>
            <string>LightSkyBlue</string>
            <string>LightSlateGray</string>
            <string>LightSteelBlue</string>
            <string>LightYellow</string>
            <string>Lime</string>
            <string>LimeGreen</string>
            <string>Linen</string>
            <string>Magenta</string>
            <string>Maroon</string>
            <string>MediumAquamarine</string>
            <string>MediumBlue</string>
            <string>MediumOrchid</string>
            <string>MediumPurple</string>
            <string>MediumSeaGreen</string>
            <string>MediumSlateBlue</string>
            <string>MediumSpringGreen</string>
            <string>MediumTurquoise</string>
            <string>MediumVioletRed</string>
            <string>MidnightBlue</string>
            <string>MintCream</string>
            <string>MistyRose</string>
            <string>Moccasin</string>
            <string>NavajoWhite</string>
            <string>Navy</string>
            <string>OldLace</string>
            <string>Olive</string>
            <string>OliveDrab</string>
            <string>OrangeRed</string>
            <string>Orchid</string>
            <string>PaleGoldenrod</string>
            <string>PaleGreen</string>
            <string>PaleTurquoise</string>
            <string>PaleVioletRed</string>
            <string>PapayaWhip</string>
            <string>PeachPuff</string>
            <string>Peru</string>
            <string>Pink</string>
            <string>Plum</string>
            <string>PowderBlue</string>
            <string>RosyBrown</string>
            <string>RoyalBlue</string>
            <string>SaddleBrown</string>
            <string>Salmon</string>
            <string>SandyBrown</string>
            <string>SeaGreen</string>
            <string>SeaShell</string>
            <string>Sienna</string>
            <string>Silver</string>
            <string>SkyBlue</string>
            <string>SlateBlue</string>
            <string>SlateGray</string>
            <string>Snow</string>
            <string>SpringGreen</string>
            <string>SteelBlue</string>
            <string>Tan</string>
            <string>Teal</string>
            <string>Thistle</string>
            <string>Tomato</string>
            <string>Turquoise</string>
            <string>Violet</string>
            <string>Wheat</string>
            <string>WhiteSmoke</string>
            <string>Yellow</string>
            <string>YellowGreen</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="HdbServers" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>host:ecohdb.bor.doi.net service:ecohdb.bor.doi.net timezone:MST</string>
            <string>host:uchdb2.uc.usbr.gov service:uchdb2.uc.usbr.gov timezone:MST</string>
            <string>host:albhdb.uc.usbr.gov service:albhdb   timezone: MDT</string>
            <string>host:ibr3river.bor.doi.net  service:lchdb2.usbr.gov  timezone:MST</string>
            <string>host:ibr3rwatr.lc.usbr.gov service:lctest  timezone:MST</string>
            <string>host:www.troa.net service:troahdb timezone:PDT</string>
            <string>host:ibr3yaohdb.bor.doi.net service:yaohdb  timezone:MST</string>
            <string>host:ibr3yaohdb.bor.doi.net service:yaotest  timezone:MST</string>
            <string>host:uchdbdev.uc.usbr.gov service:uchdbdev.uc.usbr.gov  timezone:MST</string>
            <string>host:ibr4ucraplx003.bor.doi.net service:uchdb2.bor.doi.net  timezone:MST</string>
            <string>host:gphyd1.bor.doi.net service:hydro.bor.doi.net  timezone:MDT</string>
          </ArrayOfString>
        </value>
      </setting>
    </HdbPoet.Properties.Settings>
  </userSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client"/>
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <publisherPolicy apply="no"/>
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral"/>
        <bindingRedirect oldVersion="4.121.0.0 - 4.65535.65535.65535" newVersion="4.121.2.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) "/>
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
