<?xml version="1.0"?>
<configuration>
  <!-- HDB-POET configuration file -->
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="HdbPoet.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="AGEN_ID_NAME" value="Bureau of Reclamation"/>
    <add key="SourceLegend" value="source data/not computed or manually edited/no overwrite flag set:PaleGreen,source data/not computed or manually edited/overwrite flag set:DarkSeaGreen,computed data from computation processor/not an aggregation from one interval to another:Yellow,computed data from computation processor/is an aggregation from one interval to another:Gold,computed data from computation processor/overwrite flag set:Goldenrod,RiverWare computed data/no overwrite flag set:PaleGoldenrod,RiverWare computed data/overwrite flag set:DarkKhaki,manually edited data/no overwrite flag set:SkyBlue,manually edited data/overwrite flag set:RoyalBlue,RiverWare manually edited data/no overwrite flag set:Aquamarine,RiverWare manually edited data/overwrite flag set:DarkTurquoise,missing data/not yet inserted:LightGray,Validation Failed!!! - Data outside of acceptable parameters:Red,RBase data not available - computations and undo unavailable:DarkOrange"/> 
    <add key="ValidationLegend" value="null validation:Wheat,Validated:Green,Provisional:DeepSkyBlue"/>
    <add key="objectTypes" value="wa account,reservoir,snotel site,basin,stream gage,acoustic velocity meter,diversion,canal,hydro power plant,hydro plant unit,climate site,water quality site,pumping plant"/>
    <add key="instantIntervals" value="5,10,15,30,60"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <userSettings>
    <HdbPoet.Properties.Settings>
      <setting name="SelectedHdbHost" serializeAs="String">
        <value />
      </setting>
      <setting name="OracleUsername" serializeAs="String">
        <value />
      </setting>
      <setting name="SelectedObjectTypes" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>reservoir</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="SelectedIntervals" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>day</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="HdbServers" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>host:ecohdb.bor.doi.net service:ecohdb.bor.doi.net timezone:MST</string>
            <string>host:uchdb2.uc.usbr.gov service:uchdb2.uc.usbr.gov timezone:MST</string>
            <string>host:albhdb.uc.usbr.gov service:albhdb   timezone: MDT</string>
            <string>host:ibr3river.bor.doi.net  service:lchdb2.usbr.gov  timezone:MST</string>
            <string>host:ibr3rwatr.lc.usbr.gov service:lctest  timezone:MST</string>
            <string>host:www.troa.net service:troahdb timezone:PDT</string>
            <string>host:uchdbdev.uc.usbr.gov service:uchdbdev.uc.usbr.gov  timezone:MST</string>
          </ArrayOfString>
        </value>
      </setting>
    </HdbPoet.Properties.Settings>
  </userSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
